# Convert text file line endings to lf
* text=auto
*.js text
# Denote all files that are truly binary and should not be modified.
*.mp4 binary
*.jpg binary
src/data/vaccination-data.json filter=lfs diff=lfs merge=lfs -text
